:focus {
    outline: 0;
}
html {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
	overflow-x: hidden;
	font-family: 'Source Code Pro', monospace;
	font-size: 12px;
	height: 100%;
	margin: 0;
	padding: 0;
}
button {
    margin-top: 10px;
    padding: 10px;
    font-size: 15px;
    background-color: #3fa9f5;
    color: #fff;
    border-radius: 5px;
}
button:hover {
	cursor: pointer;
}
textarea {
	width: 95%;
    height: 80%;
    font-family: inherit;
    font-size: 14px;
    color: #eee;
    background: none;
    border: 0;
    padding: 20px;
}
h1 {
    background-color: #eee;
    margin: 0;
    padding: 10px;
}
.editor-wrapper {
	position: relative;
    background-color: #333;
    width: 100%;
    max-height: 100%;
    height: 100%;
    float: left;
    tab-size: 4;
}
.kotlin-editor h1,
.kotlin-editor textarea {
	border-left: 1px solid #868686;
}
.action {
	width: 100%;
    background-color: #fff;
    position: absolute;
    height: 60px;
    bottom: 0;
    z-index: 1;
    padding-left: 20px;
}
.clearfix {
	clear: both;
}
.w-50 {
    width: 50%;
    float: left;
    height: 100%;
    position: relative;
}
.ml-auto {
	margin-left: auto;
}